<h1 id="username-heading"><%= @user.username %></h1>
<div id="stats-container">
  <div id="user-avatar">
    <img src=<%= @user.avatar %> />
  </div>
  <div id="stats-subcontainer">
    <div id="user-stats">
      <h2 id="stats-heading">Stats</h2>
      <ul >
        <li><%=@user.email %></li>
        <li><%= @user.location %></li>
        <li>User since: <%= @user.created_at.strftime("%B %e, %Y") %></li>
      </ul>
    </div>
    <div id="user-bio">
      <h2 id="bio-heading">Bio</h2>
      <p><%= @user.bio%></p>
    </div>
  </div>
</div>
<!-- @user.votes.count -->
<!-- @user.votes.where(up: true).each do |game| ...game partial... end -->
<div id="user-owned-games">
<p class='list-title user-owned-games'>Owned Games</p>
<div id="show-page-owned-games" class='games-row'>

  <%  @owned_games.each do |game| %>
    <%= render partial: "game_cover", locals: {game: game} %>
  <%end%>
</div>
</div>
