<h1>Games Index</h1>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<p>Games A-Z</p>
<div class='games-row'>
  <%  @games_alphabetically.each do |game| %>
    <%= render partial: "game_cover", locals: {game: game} %>
  <%end%>
</div>

<% if user_signed_in? %>
<p>Liked Games</p>
<div class='games-row'>
  <%  @liked_games.each do |game| %>
    <%= render partial: "game_cover", locals: {game: game} %>
  <%end%>
</div>
<% end %>



