<h1 class='index-title'>Games Index</h1>
<div class="line-thing"></div>


<%= render partial: "games_row", locals: { list_title: "Games A-Z", games: @games_alphabetically }%>

<% if user_signed_in? && !current_user.games.empty? %>
  <%= render partial: "games_row", locals: { list_title: "Owned Games", games: @owned_games }%>
<% end %>

<%= render partial: "games_row", locals: { list_title: "Best Rated", games: @games_by_rating }%>
<%= render partial: "games_row", locals: { list_title: "Sci-Fi Games", games: @scifi_games }%>
<%= render partial: "games_row", locals: { list_title: "Table Top Strategy Games", games: @strategy_games }%>





