<% content_for :title, "#{@game.title}" %>

<p id="notice"><%= notice %></p>

<h2 class='index-title'><%= @game.title %></h2>
<div class="line-thing"></div>

<div class="profile-container">
  <div class="user-info-container">

  <div class="avatar-container">
    <div class='game-photo'>
      <%= render partial: "game_cover", locals: {game: @game} %>
    </div>
  </div>



  <table class="stats-table">
    <tr>
      <th>Average Rating</th>
      <td><%=@rating %>%</td>
    </tr>
    <tr>
      <th>Genre</th>
      <td>
        <%= @game.genre %>
      </td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%=@game.category %></td>
    </tr>

  </table>

  <div class="bio-container">
        <h2>Description</h2>
        <p>
          <%= @game.description %>
        </p>
      </div>
</div>
</div>


<div class="other-line-thing"></div>
<p class='show-text review'>Reviews</p>
<% if user_signed_in? %>
<div class='new-comment-form'><%= render partial: "new_comment_form" %></div>

  <ul>
    <% @game.comments.each do |comment| %>

    <li class='user-comment show-text'><div class='comment-name'><%= comment.author.username %></div><div class='comment-liked'>

    <% if @game.votes.include?(voter_id: comment.author_id) %>
      <% if @game.votes.where(voter_id: comment.author_id).first.up == 1%>
          This user liked this game
      <% elsif @game.votes.where(voter_id: comment.author_id).first.up == 0%>
          This user disliked this game
      <% end %>
    <% end %>

    </div> "<%= comment.content%>"</li>
    <% end %>
  </ul>
<% end %>



