<p id="notice"><%= notice %></p>

<h2><%= @game.title %></h2>
  <div>
    <%= render partial: "game_cover", locals: {game: @game} %>
  </div>
 <h1><%=@rating%></h1>
<p><%= @game.description %></p>

<p><%= link_to 'New Comment', new_game_comment_url(@game) %></p>

<ul>
  <% @game.comments.each do |comment| %>
    <li><%= comment.author.username %> - <%= comment.content %></li>
  <% end %>
</ul>

<p><%= link_to 'New Game', new_game_path %></p>
<p><%= link_to 'Back', games_path %></p>


