<% content_for :title, "#{@game.title}" %>

<p id="notice"><%= notice %></p>

<h2 class='game-title'><%= @game.title %></h2>
<div class="line-thing"></div>
<div class='game-photo'>
  <%= render partial: "game_cover", locals: {game: @game} %>
</div>

<p class='show-text rating-text'>Average Rating:<div class='rating'><%=@rating%></div></p>

<h1><%=@rating%></h1>


<p class='show-text genre-text'>Genre:<p class='rating genre'><%=@game.genre%></p></p>

<p class='show-text category-text'>Type:<p class='rating category'><%=@game.category%></p ></p>



<p class='show-text description-text'>Description:<div class='game-description '><%= @game.description %></div></p>

<div class="other-line-thing"></div>
<p class='show-text review'>Reviews</p>
<% if user_signed_in? %>
<div class='new-comment-form'><%= render partial: "new_comment_form" %></div>

  <ul>
    <% @game.comments.each do |comment| %>
    <li class='user-comment show-text'><div class='comment-name'><%= comment.author.username %></div><div class='comment-liked'>

    <% if @game.votes.where(voter_id: comment.author_id).first.up == 1%>
        This user liked this game
    <% elsif @game.votes.where(voter_id: comment.author_id).first.up == 0%>
        This user disliked this game
    <% end %>

    </div> "<%= comment.content%>"</li>
    <% end %>
  </ul>
<% end %>



