<p id="notice"><%= notice %></p>

<h2><%= @game.title %></h2>
<img src="#{@game.image_url}" alt="#{@game.title}-img" />
<p><%= @game.description %></p>

<p><%= link_to 'New Comment', new_comment_url %></p>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.author %> - <%= comment.content %></li>
  <% end %>
</ul>

<p><%= link_to 'New Game', new_game_path %></p>
<p><%= link_to 'Back', games_path %></p>
