<!DOCTYPE html>
<html>
<head>
  <title>Boardsy</title>
  <script src="https://use.fontawesome.com/679320486e.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Vesper+Libre:500,700" rel="stylesheet">

</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav id='nav-bar-main'>
    <div id='logo'><%= image_tag('d20',size:'75x90', :alt => "logo") %></div>
    <h1 id="title">Boardsy</h1>
    <div class='links'>
    <a class="nav-bar" href='/games'>Home</a>
    <% if session[:user_id].nil? %>
      <a class="nav-bar" href='/games'>Login</a>
      <a class="nav-bar no-thing" href='/games'>Register</a>
    <% else %>
      <a class="nav-bar" href='/games'><%=@user.name%></a>
      <a class="nav-bar no-thing" href='/games'>Logout</a>
    <% end %>
    </div>
  </nav>
  <%= yield %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>
</html>
